Repository yungyuc/nsdhw_21au, pull requests merged in 2021-12, with the labels that each got.

#285 eesss34690-hw4-attempt1
  hw4/eesss34690/Makefile
  hw4/eesss34690/PRELOAD_MKL
  hw4/eesss34690/matrix.cpp
  hw4/eesss34690/test_matrix.py
Labels: hw4

#278 [HW4] anva-kn-hw4 attempt 1
  hw4/anva-kn/CustomAllocator.h
  hw4/anva-kn/Makefile
  hw4/anva-kn/matrix.cpp
  hw4/anva-kn/matrix.hpp
Labels: hw4

#321 [Proposal] modify the proposal (not for sign up the presentation time)
  proposal/yichi170/README.rst
Labels: proposal

#277 S413-hw4-attempt1
  hw4/S413/Makefile
  hw4/S413/_matrix.cpp
  hw4/S413/memallo.hpp
Labels: hw4

#259 Hydr8O-hw4-second-attempt
  hw4/Hydr8O/Makefile
  hw4/Hydr8O/MyAllocator.cpp
  hw4/Hydr8O/StopWatch.hpp
  hw4/Hydr8O/_matrix.cpp
Labels: hw4

#276 [HW4] B106Roger attempt1
  hw4/B106Roger/Makefile
  hw4/B106Roger/matrix.cpp
  hw4/B106Roger/performance_test.py
  hw4/B106Roger/unit_test.py
Labels: hw4

#274 aiiuii-hw4-attempt1
  hw4/aiiuii/CustomAllocator.h
  hw4/aiiuii/_matrix.cpp
  hw4/aiiuii/makefile
Labels: hw4

#260 Eric860730 hw4 attempt1
  hw4/Eric860730/GEMM_test.py
  hw4/Eric860730/Makefile
  hw4/Eric860730/benchmark.py
  hw4/Eric860730/include/MyAllocator.hpp
  hw4/Eric860730/include/_GEMM.hpp
  hw4/Eric860730/lib/_GEMM.cpp
  hw4/Eric860730/poetry.lock
  hw4/Eric860730/pyproject.toml
Labels: hw4

#264 Platisenic-hw4-attempt1
  hw4/Platisenic/Makefile
  hw4/Platisenic/_matrix.cpp
  hw4/Platisenic/_matrix.hpp
  hw4/Platisenic/alloc.hpp
  hw4/Platisenic/test_matrix.py
Labels: hw4

#275 [HW4] psychicalcoder's first attempt
  hw4/psychicalcoder/Makefile
  hw4/psychicalcoder/_matrix.cpp
  hw4/psychicalcoder/_matrix.h
  hw4/psychicalcoder/test_matrix.py
Labels: hw4

#266 nctu16028-hw4-attempt1
  hw4/nctu16028/Makefile
  hw4/nctu16028/alloc.cpp
  hw4/nctu16028/alloc.hpp
  hw4/nctu16028/matrix.cpp
  hw4/nctu16028/matrix.hpp
Labels: hw4

#269 [HW4] Yichi170 hw4 attempt1
  hw4/yichi170/Makefile
  hw4/yichi170/_matrix.cpp
  hw4/yichi170/_matrix.hpp
  hw4/yichi170/allocator.hpp
  hw4/yichi170/main.cpp
  hw4/yichi170/testpy.py
Labels: hw4

#257 [hw4] Luke2336 1st-attempt
  hw4/Luke2336/Makefile
  hw4/Luke2336/_matrix.cpp
Labels: hw4

#273 [HW4] hsjts0u-hw4-attempt1
  hw4/hsjts0u/Makefile
  hw4/hsjts0u/_matrix.cpp
  hw4/hsjts0u/_matrix.hpp
  hw4/hsjts0u/_matrix_pybind.cpp
Labels: hw4

#270 [HW4] Cycatz-nycu's 1st-attempt
  hw4/Cycatz-nycu/Makefile
  hw4/Cycatz-nycu/matrix.cpp
  hw4/Cycatz-nycu/matrix.h
Labels: hw4

#265 BlueBug12-hw4-attempt1
  hw4/BlueBug12/Makefile
  hw4/BlueBug12/_matrix.cpp
Labels: hw4

#268 sam29309010_hw4_attempt1
  hw4/sam29309010/Makefile
  hw4/sam29309010/_matrix.cpp
  hw4/sam29309010/test_matrix.py
Labels: hw4

#267 Secondlevel-hw4-attempt1
  hw4/secondlevel/Allocator.hpp
  hw4/secondlevel/Makefile
  hw4/secondlevel/_matrix.cpp
Labels: hw4

#263 LittleLaGi-hw4-attempt1
  hw4/LittleLaGi/Makefile
  hw4/LittleLaGi/MyAllocator.hpp
  hw4/LittleLaGi/_matrix.cpp
Labels: hw4

#282 YI-CHENG-SHIH645-hw4-attempt1
  hw4/YI-CHENG-SHIH645/Makefile
  hw4/YI-CHENG-SHIH645/matrix.cpp
Labels: hw4

#261 [HW4] chrisPyr hw4 submission
  hw4/chrisPyr/Makefile
  hw4/chrisPyr/include/Allocator.hpp
  hw4/chrisPyr/include/Mat.hpp
  hw4/chrisPyr/lib/Mat.cpp
Labels: hw4

#262 BoWeii hw4 attempt1
  hw4/BoWeii/CustomAllocator.hpp
  hw4/BoWeii/Makefile
  hw4/BoWeii/_matrix.cpp
Labels: hw4

#258 abt8601 HW4 Attempt 1
  hw4/abt8601/.clang-format
  hw4/abt8601/Makefile
  hw4/abt8601/allocator.cpp
  hw4/abt8601/allocator.hpp
  hw4/abt8601/benchmark.py
  hw4/abt8601/benchmark.sh
  hw4/abt8601/matrix.hpp
  hw4/abt8601/matrix_mul.cpp
  hw4/abt8601/matrix_mul.hpp
  hw4/abt8601/matrix_pybind.cpp
  hw4/abt8601/performance.txt
  hw4/abt8601/test_matrix.py
  hw4/abt8601/test_matrix_alloc.py
Labels: hw4

#272 Music87 hw4 attempt1
  hw4/music87/_matrix.cpp
  hw4/music87/makefile
Labels: hw4

#279 [HW4] whtang906 attempt1
  hw4/whtang906/CustomAllocator.h
  hw4/whtang906/makefile
  hw4/whtang906/matrix.cpp
Labels: hw4

#284 crystal0523-hw4-attempt1
  hw4/crystal0523/Makefile
  hw4/crystal0523/MyAllocator.cpp
  hw4/crystal0523/_matrix.cpp
Labels: hw4

#271 09510-hw4-attempt1
  hw4/09510/Makefile
  hw4/09510/matrix.cpp
Labels: hw4

#325 [presentation] crystal0523 sign up for presentation
  proposal/README.rst
Labels: presentation

#326 [presentation] 09510 sign up for presentation
  proposal/README.rst
Labels: presentation

#327 [presentation] eesss34690 sign up for presentation
  proposal/README.rst
Labels: presentation

#329 [presentation] Cycatz sign up for presentation
  proposal/README.rst
Labels: presentation

#330 [presentation] nctu16028 sign up for presentation
  proposal/README.rst
Labels: presentation

#331 [presentation] psychicalcoder's sign-up for presentation
  proposal/README.rst
Labels: presentation

#332 [presentation] Yichi170 sign up for presentation
  proposal/README.rst
Labels: presentation

#333 [presentation] Platisenic sign up for presentation
  proposal/README.rst
Labels: presentation

#334 [presentation] chrisPyr sign up for time slot C1
  proposal/README.rst
Labels: presentation

#323 [presentation] anva-kn signing up for presentation C9
  proposal/README.rst
Labels: presentation

#335 [presentation] hsjts0u sign up for slot C8
  proposal/README.rst
Labels: presentation

#337 [Presentation] Eric860730 Sign up for time slot C9
  proposal/README.rst
Labels: presentation

#336 [presentation] BoWeii sign up for B4
  proposal/README.rst
Labels: presentation

#338 [presentation]S413_Reservation_B7
  proposal/README.rst
Labels: presentation

#340 [presentation] LittleLaGI signs up for B5
  proposal/README.rst
Labels: presentation

#345 B106Roger proposal sign up
  proposal/README.rst
Labels: presentation

#346 [presentation] secondlevel signs up for A8
  proposal/README.rst
Labels: presentation

#347 sam29309010 proposal sign up for presentation
  proposal/README.rst
Labels: presentation

#348 sam29309010 modify proposal (repository added)
  proposal/sam29309010/readme.md
Labels: proposal

#351 [presentation] music87 sign up for A5
  proposal/README.rst
Labels: presentation

#352 [presentation] whtang906 sign up for presentation
  proposal/README.rst
Labels: presentation

#354 [presentation]Hydr8O Presentation sign up A4
  proposal/Hydr8O/README.rst
  proposal/README.rst
Labels: presentation

#287 abt8601 HW5 Attempt 1
  hw5/abt8601/.clang-format
  hw5/abt8601/Makefile
  hw5/abt8601/benchmark.py
  hw5/abt8601/benchmark.sh
  hw5/abt8601/matrix.hpp
  hw5/abt8601/matrix_mul.cpp
  hw5/abt8601/performance.txt
  hw5/abt8601/test_matrix.py
Labels: hw5

#300 Music87 hw5 attempt2
  hw5/music87/makefile
  hw5/music87/matrix.hpp
Labels: hw5

#299 Music87 hw5 attempt1
  hw5/music87/makefile
  hw5/music87/matrix.hpp
Labels: hw5

#313 [HW5] whtang906 attempt2
  hw5/whtang906/makefile
  hw5/whtang906/matrix.hpp
  hw5/whtang906/mod.cpp
Labels: hw5

#304 crystal0523-hw5-attempt1
  hw5/crystal0523/Makefile
  hw5/crystal0523/matrix.hpp
Labels: hw5

#311 09510 hw5 attempt1
  hw5/09510/Makefile
  hw5/09510/matrix.hpp
Labels: hw5

#293 [hw5] Eesss34690 hw5 attempt1
  hw5/eesss34690/Makefile
  hw5/eesss34690/PRELOAD_MKL
  hw5/eesss34690/matrix.cpp
  hw5/eesss34690/matrix.hpp
  hw5/eesss34690/mod.cpp
  hw5/eesss34690/test_matrix.py
Labels: hw5

#310 S413_Hw5_Attempt1
  hw5/S413/Makefile
  hw5/S413/matrix.hpp
Labels: hw5

#298 Hydr8O-hw5-first try
  hw5/Hydr8O/Makefile
  hw5/Hydr8O/matrix.hpp
  hw5/Hydr8O/mod.cpp
Labels: hw5

#291 [HW5] Eric860730 attempt hw5.
  hw5/Eric860730/Makefile
  hw5/Eric860730/matrix.hpp
Labels: hw5

#306 Platisenic hw5 attempt1
  hw5/Platisenic/Makefile
  hw5/Platisenic/matrix.hpp
  hw5/Platisenic/mod.cpp
  hw5/Platisenic/test_matrix.py
Labels: hw5

#315 [HW5] psychicalcoder's first attempt
  hw5/psychicalcoder/Makefile
  hw5/psychicalcoder/matrix.cpp
  hw5/psychicalcoder/matrix.hpp
  hw5/psychicalcoder/mod.cpp
  hw5/psychicalcoder/test_matrix.py
Labels: hw5

#308 nctu16028-hw5-attempt1
  hw5/nctu16028/Makefile
  hw5/nctu16028/matrix.cpp
  hw5/nctu16028/matrix.hpp
Labels: hw5

#296 [HW5] yichi170-hw5-attempt1
  hw5/yichi170/Makefile
  hw5/yichi170/matrix.hpp
Labels: hw5

#305 [hw5] Luke2336 1st-attempt
  hw5/Luke2336/Makefile
  hw5/Luke2336/matrix.hpp
Labels: hw5

#294 [HW5]hsjts0u-hw5-attempt1
  hw5/hsjts0u/Makefile
  hw5/hsjts0u/matrix.hpp
Labels: hw5

#309 [HW5] Cycatz-nycu's 1st-attempt
  hw5/Cycatz-nycu/Makefile
  hw5/Cycatz-nycu/matrix.cpp
  hw5/Cycatz-nycu/matrix.hpp
  hw5/Cycatz-nycu/test_matrix.py
Labels: hw5

#307 BlueBug12 hw5 attempt1
  hw5/BlueBug12/Makefile
  hw5/BlueBug12/matrix.hpp
Labels: hw5

#319 sam29309010_hw5_attempt3
  hw5/sam29309010/Makefile
  hw5/sam29309010/matrix.hpp
Labels: hw5

#302 Secondlevel-hw5-attempt3
  hw5/secondlevel/Makefile
  hw5/secondlevel/matrix.hpp
Labels: hw5

#297 Secondlevel-hw5-attempt1
  hw5/secondlevel/Makefile
  hw5/secondlevel/matrix.hpp
Labels: hw5

#301 Secondlevel-hw5-attempt2
  hw5/secondlevel/Makefile
  hw5/secondlevel/matrix.hpp
Labels: hw5

#290 [HW5] LittleLaGi attempt1
  hw5/LittleLaGi/Makefile
  hw5/LittleLaGi/matrix.hpp
Labels: hw5

#342 YI-CHENG-SHIH645-hw5-attempt1
  hw5/YI-CHENG-SHIH645/Makefile
  hw5/YI-CHENG-SHIH645/matrix.cpp
  hw5/YI-CHENG-SHIH645/matrix.hpp
Labels: hw5

#289 [HW5] chrisPyr hw5 submission
  hw5/chrisPyr/Makefile
  hw5/chrisPyr/matrix.hpp
Labels: hw5

#288 Boweii hw5 attempt1
  hw5/BoWeii/Makefile
  hw5/BoWeii/matrix.hpp
Labels: hw5
