Repository yungyuc/nsdhw_21au, pull requests merged in 2021-11, with the labels that each got.

#221 [proposal]09510-proposal-attempt2
  proposal/09510/README.rst
Labels: proposal

#181 S413-Proposal-Attempt2
  proposal/S413/README.rst
Labels: proposal

#176 [Proposal] Psychicalcoder's proposal
  proposal/psychicalcoder/README.org
  proposal/psychicalcoder/architecture.png
Labels: proposal

#223 sam29309010_proposal_attempt2
  proposal/sam29309010/image/System_Architecure.png
  proposal/sam29309010/readme.md
Labels: proposal

#227 abt8601 Project Proposal: Diffusion Maps
  proposal/abt8601/README.rst
Labels: proposal

#212 [Proposal] Yichi170 proposal submission
  proposal/yichi170/README.rst
Labels: proposal

#230 jonathan-liu-0204 Proposal Attempt 2
  proposal/jonathan-liu-0204/0716304-Proposal.rst
  proposal/jonathan-liu-0204/Gantt_Chart.png
Labels: proposal

#243 fix commit issue
  proposal/aiiuii/README.rst
Labels: proposal

#186 LittleLaGi hw3 attempt1
  hw3/LittleLaGi/Makefile
  hw3/LittleLaGi/_matrix.cpp
  hw3/LittleLaGi/test_matrix.py
Labels: hw3

#192 chrisPyr hw3 submission
  hw3/chrisPyr/Makefile
  hw3/chrisPyr/include/Mat.hpp
  hw3/chrisPyr/lib/Mat.cpp
  hw3/chrisPyr/test_matrix.py
Labels: hw3

#194 BoWeii-hw3-attempt1
  hw3/BoWeii/Makefile
  hw3/BoWeii/_matrix.cpp
  hw3/BoWeii/test_case.py
Labels: hw3

#188 [hw3] hsjts0u-hw3-attempt1
  hw3/hsjts0u/Makefile
  hw3/hsjts0u/_matrix.cpp
  hw3/hsjts0u/_matrix.hpp
  hw3/hsjts0u/_matrix_pybind.cpp
Labels: hw3

#228 BlueBug12-hw3-attempt2
  hw3/BlueBug12/Makefile
  hw3/BlueBug12/_matrix.cpp
  hw3/BlueBug12/test_matrix.py
Labels: hw3

#217 sam29309010_hw3_attempt2
  hw3/sam29309010/Makefile
  hw3/sam29309010/_matrix.cpp
  hw3/sam29309010/performance.txt
  hw3/sam29309010/test_matrix.py
Labels: hw3

#224 secondlevel-hw3-attempt1
  hw3/secondlevel/Makefile
  hw3/secondlevel/_matrix.cpp
  hw3/secondlevel/_matrix.hpp
  hw3/secondlevel/_matrix_pyd.cpp
Labels: hw3

#203 crystal0523-hw3-attempt1
  hw3/crystal0523/Makefile
  hw3/crystal0523/_matrix.cpp
  hw3/crystal0523/benchmark.py
  hw3/crystal0523/test_matrix.py
Labels: hw3

#231 Music87 hw3 attempt2
  hw3/music87/_matrix.cpp
  hw3/music87/makefile
  hw3/music87/performance.txt
  hw3/music87/unit_test.py
Labels: hw3

#189 eesss34690-hw3-attempt1
  hw3/eesss34690/Makefile
  hw3/eesss34690/compare.sh
  hw3/eesss34690/matrix.cpp
  hw3/eesss34690/test_matrix.py
Labels: hw3

#190 abt8601 HW3 Attempt 1
  hw3/abt8601/.clang-format
  hw3/abt8601/Makefile
  hw3/abt8601/benchmark.py
  hw3/abt8601/benchmark.sh
  hw3/abt8601/matrix.hpp
  hw3/abt8601/matrix_mul.cpp
  hw3/abt8601/matrix_mul.hpp
  hw3/abt8601/matrix_pybind.cpp
  hw3/abt8601/performance.txt
  hw3/abt8601/test_matrix.py
Labels: hw3

#201 [HW3] Luke2336 1st-attempt
  hw3/Luke2336/Makefile
  hw3/Luke2336/_matrix.cpp
  hw3/Luke2336/performance.txt
  hw3/Luke2336/test_matrix.py
Labels: hw3

#191 Eric860730 hw3 attempt1
  hw3/Eric860730/GEMM_test.py
  hw3/Eric860730/Makefile
  hw3/Eric860730/Matrix_pybind.cpp
  hw3/Eric860730/benchmark.py
  hw3/Eric860730/include/_GEMM.hpp
  hw3/Eric860730/lib/_GEMM.cpp
Labels: hw3

#239 S413-hw3-attempt1
  hw3/S413/Makefile
  hw3/S413/_matrix.cpp
  hw3/S413/test_matrix.py
Labels: hw3

#216 [HW3] B106Roger hw3 attempt1
  hw3/B106Roger/Makefile
  hw3/B106Roger/matrix.cpp
  hw3/B106Roger/performance_test.py
  hw3/B106Roger/unit_test.py
Labels: hw3

#205 Aiiuii hw3 attempt2
  hw3/aiiuii/_matrix.cpp
  hw3/aiiuii/makefile
  hw3/aiiuii/unit_test.py
Labels: hw3

#196 Hydr8O-hw3-secondattempt
  hw3/Hydr8O/Makefile
  hw3/Hydr8O/StopWatch.hpp
  hw3/Hydr8O/_matrix.cpp
  hw3/Hydr8O/check_performance.py
Labels: hw3

#206 [HW3] Yichi170 hw3 attempt1
  hw3/yichi170/Makefile
  hw3/yichi170/_matrix.cpp
  hw3/yichi170/_matrix.hpp
  hw3/yichi170/main.cpp
Labels: hw3

#208 [HW3] psychicalcoder's first attempt
  hw3/psychicalcoder/Makefile
  hw3/psychicalcoder/_matrix.cpp
  hw3/psychicalcoder/_matrix.h
  hw3/psychicalcoder/test_matrix.py
Labels: hw3

#235 nctu16028-hw3-attempt1
  hw3/nctu16028/Makefile
  hw3/nctu16028/matrix.cpp
  hw3/nctu16028/matrix.hpp
  hw3/nctu16028/performance.txt
  hw3/nctu16028/test_matrix.py
Labels: hw3

#207 Platisenic hw3 attempt1
  hw3/Platisenic/Makefile
  hw3/Platisenic/StopWatch.hpp
  hw3/Platisenic/_matrix.cpp
  hw3/Platisenic/_matrix.hpp
  hw3/Platisenic/performance.py
  hw3/Platisenic/performance.txt
  hw3/Platisenic/test_matrix.py
Labels: hw3

#237 09510-hw3-attempt4
  hw3/09510/Makefile
  hw3/09510/matrix.cpp
  hw3/09510/test_matrix.py
Labels: hw3

#242 [HW3] whtang906 attempt1
  hw3/whtang906/Makefile
  hw3/whtang906/matrix.cpp
  hw3/whtang906/test_matrix.py
Labels: hw3

#241 [hw3] anva-kn hw3
  hw3/anva-kn/Makefile
  hw3/anva-kn/matrix.cpp
  hw3/anva-kn/matrix.hpp
  hw3/anva-kn/test.py
Labels: hw3

#254 Fix/wrong branch
  hw3/aiiuii/_matrix.cpp
  hw3/aiiuii/makefile
  hw3/aiiuii/unit_test.py
Labels: bug

#255 Revert "Aiiuii hw3 attempt2"
  hw3/aiiuii/_matrix.cpp
  hw3/aiiuii/makefile
  hw3/aiiuii/unit_test.py
Labels: bug

#286 09510-proposal-attempt2
  proposal/09510/README.rst
  proposal/09510/img/chart.png
Labels: proposal
